/****************************************************************************** 
 * Name: Dean Lorenzo
 * Student number: 0367298
 * Course: Web Development - 2008 (228566)
 * Assignment: Final Project
 * Created: Nov 12, 2022
 * Updated: Nov 17, 2022 
 * Purpose: Add styling for the site.
 *****************************************************************************/

.header-body{
    background-color: #f6e5dd;
    margin-bottom: -16px;
} 

.index-body{
    height: 15em;
}

ul{
    list-style: none;    
}

.top-nav-li,
.bottom-nav-li,
.top-nav-search,
.nav-li,
.tbl-li,
.heading_inline,
.select-option-li{
    display: inline-block;
} 

.top-logo{
    width: 7em;
}

.thumb{
    height: 75px; 
}

.img-view{
    width: 40em;
}

.copyright{
    padding-left: 2.6em;
}

.error-message{
    color: red;
}